<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #container {
            display: flex;
            justify-content: space-between;
            width: 80%; /* 조절 가능한 너비 */
            margin-top: 20px;
        }

        #leftColumn, #rightColumn {
            flex: 1;
            padding: 10px;
        }



        #inputField {
            width: 10%;
            padding: 5px;
        }

        #sendButton {
            margin-left: 10px;
            padding: 5px;
        }
    </style>
    <title>Number Baseball Game</title>
</head>
<body>
<h1>PLAY Number Baseball GAME!!</h1>
<div>---------------------------------------</div>
<div id="enterNotice"></div>
<div id="greetingNotice"></div>
<div id="waitNotice"></div>
<div>---------------------------------------</div>
<div id="container">
    <div id="leftColumn">
        <div id="myNumberDisplay"></div>
        <div>---------------------------------------</div>
        <div id="turnNotice"></div>
        <div id="inputContainer">
            <input type="text" id="inputField" placeholder="예상하는 숫자를 써주세요!">
            <button id="sendButton" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <div id="rightColumn">
        <div id="endDisplay">
        </div>
    </div>
</div>

<style>
    .guess-row:nth-child(even) {
        background-color: #ffffcc; /* 연한 노랑색 배경 설정 */
    }

    .guess-row:nth-child(odd) {
        background-color: #ffffff; /* 홀수 행에 대한 배경색 설정 (배경 없음) */
    }
</style>
<div id="guessDisplay">

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    var stompClient = null;
    var userName = null;
    var sessionId = null;

    // 현재 URL에서 path variable 값을 가져옴
    var roomCode = window.location.pathname.split('/').pop();
    var enterNoticeElement = document.getElementById("enterNotice");

    var waitingTopic = "/user/topic/waiting/";
    var startTopic = "/user/topic/startGame";
    var greetingTopic = "/user/topic/greeting";
    var scoreTopic = "/topic/score/"+roomCode;

    function subscribeEvents(stompClient){

        var greetingMessage = userName + "이 " + roomCode + "에 입장하셨습니다.";
        enterNoticeElement.innerHTML += '<div>'+greetingMessage +'</div>';
        // 입장처리 후 user 저장, Room status
        enterRoom()

        stompClient.subscribe(greetingTopic, function(res) {
            console.log("--- 친구가 들어왔어요 ---");
            printGreetingMessage(JSON.parse(res.body).message);
        });
        // game 시작되어서 숫자 설정하는 부분
        stompClient.subscribe(waitingTopic, function (res) {
            console.log("--- 기다릴게요  ---" );
            waiting();
        });
        // game 시작되어서 숫자 설정하는 부분
        stompClient.subscribe(startTopic, function (response) {
            var jsonBody = JSON.parse(response.body);
            console.log(jsonBody)
            console.log("---숫자 설정할게요 ---" + jsonBody.sessionId);
            setNumber(jsonBody.sessionId, jsonBody.userName, jsonBody.roomCode);
        });
        // 오류 난다면 각자는 여기로 와서 숫자 다시 설정하세요
        stompClient.subscribe("/user/topic/error/startGame", function (response) {
            var jsonBody = JSON.parse(response.body);
            console.log("---오류나서 숫자 다시설정 ---"+jsonBody.sessionId);
            setNumber(jsonBody.sessionId, jsonBody.userName, jsonBody.roomCode);
        });
        // 숫자 설정 완료 후 각자가 설정한 숫자 보여줌
        stompClient.subscribe("/user/topic/showNumber", function (response2) {
            var jsonBody2 = JSON.parse(response2.body);
            console.log(jsonBody2);
            console.log("---각자 설정한 숫자 보여줌 ---"+jsonBody2.sessionId);
            document.getElementById("myNumberDisplay").innerText = "내가 설정한 숫자는 " + jsonBody2.number.number + " 입니다";
        });
        // 숫자 추측 후 결과 보여줌
        stompClient.subscribe(scoreTopic, function (res) {
            var jsonBody4 = JSON.parse(res.body);
            console.log(jsonBody4);

            console.log("---추측 결과 보여줌 ---"+jsonBody4.sessionId);
            var guessRow = document.createElement('div');
            guessRow.className = 'guess-row';
            guessRow.innerText = jsonBody4.userName + " 님의 결과 :::  " + jsonBody4.guessNumber + " ----->" + jsonBody4.str +
                "  STRIKE  " + jsonBody4.ball + "  BALL  " + jsonBody4.out + "  OUT";
            document.getElementById("guessDisplay").appendChild(guessRow);

        });
        // 기다리세요
        stompClient.subscribe("/user/topic/turnNotNow", function (res) {
            document.getElementById("inputField").disabled = true;
            document.getElementById("sendButton").disabled = true;
            var jsonBody5 = JSON.parse(res.body);
            document.getElementById("turnNotice").innerText = jsonBody5.message;
        });
        // 니 차례세요
        stompClient.subscribe("/user/topic/turnNow", function (res) {
            document.getElementById("inputField").disabled = false;
            document.getElementById("sendButton").disabled = false;
            var jsonBody5 = JSON.parse(res.body);
            document.getElementById("turnNotice").innerText = jsonBody5.message;
        });
        // 에러 처리
        stompClient.subscribe('/user/topic/errors', function (error) {
            // 에러 메시지 처리
            console.error('Error received:', error.body);
            const errorMessage = error.body;
            alert(`${errorMessage}`);
        });

        stompClient.subscribe('/user/topic/win', function (res){
            document.getElementById("endDisplay").innerHTML =
                '<img src="../static/images/winner.png">'
        });

        stompClient.subscribe('/user/topic/lose', function (res){
            document.getElementById("endDisplay").innerHTML =
                '<img src="../static/images/lose.png">'
        });
    }

    function getUserName() {
        return new Promise((resolve) => {
            const userName = prompt("닉네임을 입력하세요");
            resolve(userName);
        });
    }
    async function connect() {
        // 연결 되자마자 닉네임 받기
        userName = await getUserName()
        var socket = new SockJS("/ws");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            subscribeEvents(stompClient);
        })
    }

    function enterRoom() {
        stompClient.send("/app/enterRoom", {}, JSON.stringify({userName: userName, roomCode: roomCode}));
    }
    function waiting() {
        console.log("setNumber waiting");
        document.getElementById("inputField").disabled = true;
        document.getElementById("waitNotice").innerText = "상대방에게 ROOM CODE를 공유하세요 : " +roomCode;
    }

    function printGreetingMessage(message){
        console.log(message);
        document.getElementById("greetingNotice").innerText = message;
    }

    function setNumber(sessionId, clientName, roomCode) {
        console.log("setNumber excuted");

        setTimeout(function () {
            var number = prompt("게임이 시작되었습니다. 설정할 세자리 숫자를 입력하세요");
            document.getElementById("inputField").disabled = false;
            document.getElementById("waitNotice").innerText = "게임이 시작되었습니다.";
            console.log(clientName + "set number" + number);
            stompClient.send('/app/setNumber', {}, JSON.stringify({
                sessionId: sessionId,
                number: number,
                roomCode: roomCode
            }));
        }, 1000);

    }

    function sendMessage() {
        // 입력 필드에서 값을 가져오기
        var inputValue = document.getElementById("inputField").value;

        // 메시지 전송하는 코드
        stompClient.send('/app/numberGuess', {}, JSON.stringify({
            sessionId: sessionId,
            roomCode: roomCode,
            number: inputValue
        }));

    }

    connect();


</script>
</body>
</html>
